<div class="wrapper">
  <div
    class="header"
    [style.moveHeader]="showMiddleBar"
    [ngClass]="{ moveHeader: showMiddleBar }"
  >
    <button (click)="increaseScale()">+</button>
    <button (click)="resetScale()">100%</button>
    <button (click)="decreaseScale()">-</button>
    <button (click)="showPreviousImage()">Prev</button>
    <button (click)="showNextImage()">Next</button>
    <div class="scale">{{imageUrlExtracted}}</div>
    <div class="scale">Scale:{{ scale | number }}</div>
    <div class="topics">
      <div class="topic-item">
        <div class="topic-name">HTML/CSS</div>
        <div class="parent">
        <div class="topic-menu-ngrx">
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CSS_BOX_MODEL)"
          >
            BOX Model - {{ countItems(IMAGE_TYPES.CSS_BOX_MODEL) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CSS_UNITS)"
          >
            Units CSS - {{ countItems(IMAGE_TYPES.CSS_UNITS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CSS_ENCAPSULATE)"
          >
            CSS Incapsulation - {{ countItems(IMAGE_TYPES.CSS_ENCAPSULATE) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.CSS_PSEUDO)"
        >
          Pseudo... - {{ countItems(IMAGE_TYPES.CSS_PSEUDO) }}
        </div>
        <div
        class="topic-menu-item"
        (click)="changeTopic(IMAGE_TYPES.CSS_COMBINATORS)"
      >
        Combinators - {{ countItems(IMAGE_TYPES.CSS_COMBINATORS) }}
      </div>
      <div
      class="topic-menu-item"
      (click)="changeTopic(IMAGE_TYPES.CSS_NTHS)"
    >
      Nths() - {{ countItems(IMAGE_TYPES.CSS_NTHS) }}
    </div>
    <div
    class="topic-menu-item"
    (click)="changeTopic(IMAGE_TYPES.CSS_VERICAL_ALIGHN)"
  >
    Вертикальное выр - {{ countItems(IMAGE_TYPES.CSS_VERICAL_ALIGHN) }}
  </div>
  <div
  class="topic-menu-item"
  (click)="changeTopic(IMAGE_TYPES.CSS_HORISONTAL_ALIGHN)"
>
  Горизонтальное выр - {{ countItems(IMAGE_TYPES.CSS_HORISONTAL_ALIGHN) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.JS_IMPORT_VS_HTML_IMPORT)"
>
JS Import vs HTML Import -
{{ countItems(IMAGE_TYPES.JS_IMPORT_VS_HTML_IMPORT) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_GRID)"
>
GRID -
{{ countItems(IMAGE_TYPES.CSS_GRID) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.ACCESSABILITY)"
>
ACCESSABILITY -
{{ countItems(IMAGE_TYPES.ACCESSABILITY) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.SHADOW_DOM)"
>
ShadowDom -
{{ countItems(IMAGE_TYPES.SHADOW_DOM) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.HTML_INPUT_TYPES)"
>
Forms and Input Types -
{{ countItems(IMAGE_TYPES.HTML_INPUT_TYPES) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.HTML_5)"
>
HTML-5/Semantics -
{{ countItems(IMAGE_TYPES.HTML_5) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.HTML_ATTRIBUTE)"
>
HTML Attribute -
{{ countItems(IMAGE_TYPES.HTML_ATTRIBUTE) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_SPECIFITY)"
>
Specifity -
{{ countItems(IMAGE_TYPES.CSS_SPECIFITY) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_VARIABLES)"
>
CSS Variables -
{{ countItems(IMAGE_TYPES.CSS_VARIABLES) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_RESPONSIVE)"
>
Responsive -
{{ countItems(IMAGE_TYPES.CSS_RESPONSIVE) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CROSS_BROWSER_DEVELOPMENT)"
>
CROSS browser development -
{{ countItems(IMAGE_TYPES.CROSS_BROWSER_DEVELOPMENT) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_POSITIONING)"
>
Positioning -
{{ countItems(IMAGE_TYPES.CSS_POSITIONING) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_ANIMATION)"
>
Animation -
{{ countItems(IMAGE_TYPES.CSS_ANIMATION) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_PREPROSESSOR)"
>
Preprocessors -
{{ countItems(IMAGE_TYPES.CSS_PREPROSESSOR) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_METHODOLOGY)"
>
Methodology -
{{ countItems(IMAGE_TYPES.CSS_METHODOLOGY) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.CSS_COMPATABILITY)"
>
Compatability -
{{ countItems(IMAGE_TYPES.CSS_COMPATABILITY) }}
</div>

      
        
        </div>
      </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">Angular</div>
        <div class="topic-menu-angular">
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_JENERAL)"
          >
            Compilation/AngularJS - {{ countItems(IMAGE_TYPES.ANGULAR_JENERAL) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_CD)"
          >
            CD Change detection -
            {{ countItems(IMAGE_TYPES.ANGULAR_CD) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_DI)"
          >
            DI - {{ countItems(IMAGE_TYPES.ANGULAR_DI) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_HOT_COLD)"
          >
            HOT and COLD observables -
            {{ countItems(IMAGE_TYPES.ANGULAR_HOT_COLD) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_NG_MODULE)"
          >
            NgModule -
            {{ countItems(IMAGE_TYPES.ANGULAR_NG_MODULE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_LAZY_LOADING)"
          >
            Lazy loading -
            {{ countItems(IMAGE_TYPES.ANGULAR_LAZY_LOADING) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_ERROR)"
          >
            ERROR handling -
            {{ countItems(IMAGE_TYPES.ANGULAR_ERROR) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_PERFORMANCE)"
          >
            Performance optimz +BEST -
            {{ countItems(IMAGE_TYPES.ANGULAR_PERFORMANCE) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.PERFORMANCE_TESTING_TOOLS)"
        >
          Performance testing tools -
          {{ countItems(IMAGE_TYPES.PERFORMANCE_TESTING_TOOLS) }}
        </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_RXJS_OPERATORS)"
          >
            RxJS Core & Operators -
            {{ countItems(IMAGE_TYPES.ANGULAR_RXJS_OPERATORS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_RXJS_SUBJECT)"
          >
            SUBJECT RxJS -
            {{ countItems(IMAGE_TYPES.ANGULAR_RXJS_SUBJECT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_RXJS_UNSUBSCRIBE)"
          >
            Unsubscribe RxJS -
            {{ countItems(IMAGE_TYPES.ANGULAR_RXJS_UNSUBSCRIBE) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.ANGULAR_NG_CONTENT_NG_CONTAINER)"
        >
          -Ng Cont-er/Temp/Content -
          {{ countItems(IMAGE_TYPES.ANGULAR_NG_CONTENT_NG_CONTAINER) }}
        </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_TEMPLATE_OUTLET)"
          >
            -Ng Template Outlet -
            {{ countItems(IMAGE_TYPES.ANGULAR_TEMPLATE_OUTLET) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_STRUCTURAL_DIRECTIVE)"
          >
            Структурная директива -
            {{ countItems(IMAGE_TYPES.ANGULAR_STRUCTURAL_DIRECTIVE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_DIRECTIVES)"
          >
            Директивы, + vs Component -
            {{ countItems(IMAGE_TYPES.ANGULAR_DIRECTIVES) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_ADVANCED_DOM)"
          >
            Advanced DOM -
            {{ countItems(IMAGE_TYPES.ANGULAR_ADVANCED_DOM) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_BUILDER)"
          >
            Builder -
            {{ countItems(IMAGE_TYPES.ANGULAR_BUILDER) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_VIEW_ENCAPSULATION)"
          >
            View encapsulation -
            {{ countItems(IMAGE_TYPES.ANGULAR_VIEW_ENCAPSULATION) }}
          </div>
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.HOOKS)">
            HOOKS -
            {{ countItems(IMAGE_TYPES.HOOKS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_RESOLVER)"
          >
            RESOLVER -
            {{ countItems(IMAGE_TYPES.ANGULAR_RESOLVER) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_CUSTOM_NG_MODEL)"
          >
            Custom Ng Model/ValueAccessor -
            {{ countItems(IMAGE_TYPES.ANGULAR_CUSTOM_NG_MODEL) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_CUSTOM_VALIDATOR)"
          >
            Custom Validator -
            {{ countItems(IMAGE_TYPES.ANGULAR_CUSTOM_VALIDATOR) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_PIPE)"
          >
            Pipe -
            {{ countItems(IMAGE_TYPES.ANGULAR_PIPE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_COMPILER)"
          >
            Compiler/JIT/AOT -
            {{ countItems(IMAGE_TYPES.ANGULAR_COMPILER) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_EXPRESSION_CHANGED_AFTER)"
          >
            Expression changed after checked -
            {{ countItems(IMAGE_TYPES.ANGULAR_EXPRESSION_CHANGED_AFTER) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_MONOREPO)"
          >
            Monorepo -
            {{ countItems(IMAGE_TYPES.ANGULAR_MONOREPO) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_DYNAMIC_COMPONENT)"
          >
            Dynamic Comp (Factory Reslvr) -
            {{ countItems(IMAGE_TYPES.ANGULAR_DYNAMIC_COMPONENT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="
              changeTopic(IMAGE_TYPES.ANGULAR_INTERPOLATION_SANITANIZATION)
            "
          >
            Interpolation | Sanitization -
            {{ countItems(IMAGE_TYPES.ANGULAR_INTERPOLATION_SANITANIZATION) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_ROUTING)"
          >
            Routing / GUARDS -
            {{ countItems(IMAGE_TYPES.ANGULAR_ROUTING) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_HOST_LISTENER)"
          >
          &#64;HostLister|&#64;HostBinding -
            {{ countItems(IMAGE_TYPES.ANGULAR_HOST_LISTENER) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_FORMS)"
          >
            FORMS + Validators -
            {{ countItems(IMAGE_TYPES.ANGULAR_FORMS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_HTTP)"
          >
            HTTP -
            {{ countItems(IMAGE_TYPES.ANGULAR_HTTP) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_INTERCEPTOR)"
          >
            Interceptor -
            {{ countItems(IMAGE_TYPES.ANGULAR_INTERCEPTOR) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_CUSTOM_COMPONENTS)"
          >
            Custom components -
            {{ countItems(IMAGE_TYPES.ANGULAR_CUSTOM_COMPONENTS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_STORYBOOK)"
          >
            Storybook -
            {{ countItems(IMAGE_TYPES.ANGULAR_STORYBOOK) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.SEO)"
        >
        SEO / Univesal -
          {{ countItems(IMAGE_TYPES.SEO) }}
        </div>
        <div
        class="topic-menu-item"
        (click)="changeTopic(IMAGE_TYPES.XXS)"
      >
      XXS -
        {{ countItems(IMAGE_TYPES.XXS) }}
      </div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">JS</div>
        <div class="parent">
        <div class="topic-menu-js">
          <div
            class="topic-menu-item"
            (mouseover)="onMouseOver()"
            (click)="changeTopic(IMAGE_TYPES.JS_JENERAL)"
          >
            Compilation -
            {{ countItems(IMAGE_TYPES.JS_JENERAL) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_BASICS)"
          >
            General -
            {{ countItems(IMAGE_TYPES.JS_BASICS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_DOM)"
          >
            DOM -
            {{ countItems(IMAGE_TYPES.JS_DOM) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_GLOBAL_LOGIC)"
          >
            Global logic [[Scope]] -
            {{ countItems(IMAGE_TYPES.JS_GLOBAL_LOGIC) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_CLOSURE)"
          >
            Closure -
            {{ countItems(IMAGE_TYPES.JS_CLOSURE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_HOW_INTERNET_WORKS)"
          >
            How Internet works/cash -
            {{ countItems(IMAGE_TYPES.JS_HOW_INTERNET_WORKS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.PROTOTYPE)"
          >
            Prototype & Object -
            {{ countItems(IMAGE_TYPES.PROTOTYPE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.SYMBOL)"
          >
            SYMmbol/Generator -
            {{ countItems(IMAGE_TYPES.SYMBOL) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_BIG_INT)"
          >
            BIG_INT / NUMBER -
            {{ countItems(IMAGE_TYPES.JS_BIG_INT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_PARTIAL_APPLY)"
          >
            Частичное применение -
            {{ countItems(IMAGE_TYPES.JS_PARTIAL_APPLY) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_PARTIAL_APPLY)"
          >
            Функтор -
            {{ countItems(IMAGE_TYPES.JS_PARTIAL_APPLY) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_FIRST_CLASS_FUNCTION)"
          >
            First class function -
            {{ countItems(IMAGE_TYPES.JS_FIRST_CLASS_FUNCTION) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_PURE_FUNCTION)"
          >
            Pure func/Side effect/Shared -
            {{ countItems(IMAGE_TYPES.JS_PURE_FUNCTION) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_HOF)"
          >
            High Order Function -
            {{ countItems(IMAGE_TYPES.JS_HOF) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_FIRST_CLASS_FUNCTION)"
          >
            Compose -
            {{ countItems(IMAGE_TYPES.JS_FIRST_CLASS_FUNCTION) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_FP_VS_OOP_PP)"
          >
            FP vs OOP vs PP -
            {{ countItems(IMAGE_TYPES.JS_FP_VS_OOP_PP) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_MUT_VS_UNMUT_MEMORY)"
          >
            MUT vs UMMUTABLE Memory -
            {{ countItems(IMAGE_TYPES.JS_MUT_VS_UNMUT_MEMORY) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_REDUCE)"
          >
            Reduce example -
            {{ countItems(IMAGE_TYPES.JS_REDUCE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_THIS)"
          >
            THIS -
            {{ countItems(IMAGE_TYPES.JS_THIS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_EVENT_LOOP)"
          >
            Event LOOP & Async -
            {{ countItems(IMAGE_TYPES.JS_EVENT_LOOP) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_PROMISE)"
          >
            PROMISE / Async / Await -
            {{ countItems(IMAGE_TYPES.JS_PROMISE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_ENGINE)"
          >
            Engine V8 -
            {{ countItems(IMAGE_TYPES.JS_ENGINE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_CLASS_PROPERTY)"
          >
            [[CLASS]] -
            {{ countItems(IMAGE_TYPES.JS_CLASS_PROPERTY) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_MEMOIZATION)"
          >
            Memoization and compose -
            {{ countItems(IMAGE_TYPES.JS_MEMOIZATION) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_ERRORS)"
          >
            Errors -
            {{ countItems(IMAGE_TYPES.JS_ERRORS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_FETCH_API_PROGRESS)"
          >
            Fetch API -
            {{ countItems(IMAGE_TYPES.HTTP_FETCH_API_PROGRESS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_TAGGED_TEMPLATE)"
          >
            Tagged template -
            {{ countItems(IMAGE_TYPES.JS_TAGGED_TEMPLATE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_SPREAD_REST)"
          >
            Spread & Rest -
            {{ countItems(IMAGE_TYPES.JS_SPREAD_REST) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_NULLISH_COALESCING)"
          >
            Nullish ?? -
            {{ countItems(IMAGE_TYPES.JS_NULLISH_COALESCING) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_OBJECT_TO_PRIMITIVE)"
          >
            Object to primitive -
            {{ countItems(IMAGE_TYPES.JS_OBJECT_TO_PRIMITIVE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_REFLECTION_API)"
          >
            Reflection API -
            {{ countItems(IMAGE_TYPES.JS_REFLECTION_API) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_REBIND_FUNCTION)"
          >
            Rebind function -
            {{ countItems(IMAGE_TYPES.JS_REBIND_FUNCTION) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_FLATMAP)"
          >
            Flat map -
            {{ countItems(IMAGE_TYPES.JS_FLATMAP) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_OBJECT_MUTATION)"
          >
            Object mutation -
            {{ countItems(IMAGE_TYPES.JS_OBJECT_MUTATION) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_CHAINING)"
          >
            Chaining/Pipeline/Composition -
            {{ countItems(IMAGE_TYPES.JS_CHAINING) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.MANAGE_COOKIE_BY_JS)"
          >
            Manage COOKIES by JS -
            {{ countItems(IMAGE_TYPES.MANAGE_COOKIE_BY_JS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_PREV_DEF_VS_STOP_PROPAGATION)"
          >
            PreventDef vs StopProp -
            {{ countItems(IMAGE_TYPES.JS_PREV_DEF_VS_STOP_PROPAGATION) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_PERFORMANT_WAY_TO_BUILD_DOM)"
          >
            Best way ro build DOM -
            {{ countItems(IMAGE_TYPES.JS_PERFORMANT_WAY_TO_BUILD_DOM) }}
          </div>
        </div>
        <div class="topic-menu-js-2">
            <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_TYPE_CONVERSION)"
          >
            Преобразование типов -
            {{ countItems(IMAGE_TYPES.JS_TYPE_CONVERSION) }}
          </div>
            <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_TRIGGER_EVENT)"
          >
            Trigger event on element -
            {{ countItems(IMAGE_TYPES.JS_TRIGGER_EVENT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_CUSTOM_EVENT)"
          >
            Custom event/element -
            {{ countItems(IMAGE_TYPES.JS_CUSTOM_EVENT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_WEB_COMPONENTS)"
          >
            Web Components-
            {{ countItems(IMAGE_TYPES.JS_WEB_COMPONENTS) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.ASYNC_ITERATIONS)"
        >
          Async Iterations-
          {{ countItems(IMAGE_TYPES.ASYNC_ITERATIONS) }}
        </div>
        </div>
      </div>

      </div>
      <div class="topic-item">
        <div class="topic-name">TS</div>
        <div class="topic-menu-ts">
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_GENERAL)"
          >
            TS overview -
            {{ countItems(IMAGE_TYPES.TS_GENERAL) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_OOP_SUPPORT)"
          >
            TS OOP support -
            {{ countItems(IMAGE_TYPES.TS_OOP_SUPPORT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_INTERFACE)"
          >
            Interface -
            {{ countItems(IMAGE_TYPES.TS_INTERFACE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_TYPE_VS_INTERFACE)"
          >
            Type VS Interface -
            {{ countItems(IMAGE_TYPES.TS_TYPE_VS_INTERFACE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_CLASSES)"
          >
            TS Classes -
            {{ countItems(IMAGE_TYPES.TS_CLASSES) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_AC_VS_INTERFACE)"
          >
            Abstract class VS Interface -
            {{ countItems(IMAGE_TYPES.TS_AC_VS_INTERFACE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_CUSTOM_TYPE)"
          >
            Custom Type -
            {{ countItems(IMAGE_TYPES.TS_CUSTOM_TYPE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_DIFINITION_MANAGER)"
          >
            Definition Manager -
            {{ countItems(IMAGE_TYPES.TS_DIFINITION_MANAGER) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_GENERICS)"
          >
            Generics -
            {{ countItems(IMAGE_TYPES.TS_GENERICS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_ENUM)"
          >
            Enum -
            {{ countItems(IMAGE_TYPES.TS_ENUM) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_DECORATORS)"
          >
            Decorators -
            {{ countItems(IMAGE_TYPES.TS_DECORATORS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_OVERRIDE)"
          >
            Overide -
            {{ countItems(IMAGE_TYPES.TS_OVERRIDE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TS_ANY_NEVER_UNNOWN)"
          >
            ANY-NEVER-UNNOWN -
            {{ countItems(IMAGE_TYPES.TS_ANY_NEVER_UNNOWN) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.TS_STRICT_MODE)"
        >
          Strict Mode TS -
          {{ countItems(IMAGE_TYPES.TS_STRICT_MODE) }}
        </div>
        <div
        class="topic-menu-item"
        (click)="changeTopic(IMAGE_TYPES.TS_ACCESS_MODIFIERS)"
      >
        Access Modifiers -
        {{ countItems(IMAGE_TYPES.TS_ACCESS_MODIFIERS) }}
      </div>
      <div
      class="topic-menu-item"
      (click)="changeTopic(IMAGE_TYPES.TS_STRUCTURAL_TYPING)"
    >
      Structural typing -
      {{ countItems(IMAGE_TYPES.TS_STRUCTURAL_TYPING) }}
    </div>
    <div
    class="topic-menu-item"
    (click)="changeTopic(IMAGE_TYPES.TS_DECLARE)"
  >
    Declare / Ambient -
    {{ countItems(IMAGE_TYPES.TS_DECLARE) }}
  </div>
  <div
  class="topic-menu-item"
  (click)="changeTopic(IMAGE_TYPES.TS_NAMESPACE)"
>
  Namespace -
  {{ countItems(IMAGE_TYPES.TS_NAMESPACE) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.TS_COMPONENTS)"
>
Компоненты языка TS -
{{ countItems(IMAGE_TYPES.TS_COMPONENTS) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.TS_CONSTRUCTOR_RELOAD)"
>
Reload class constructor -
{{ countItems(IMAGE_TYPES.TS_CONSTRUCTOR_RELOAD) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.TUPPLES)"
>
Tuples -
{{ countItems(IMAGE_TYPES.TUPPLES) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.TS_INDEX_SIGNATURES)"
>
Index signatures -
{{ countItems(IMAGE_TYPES.TS_INDEX_SIGNATURES) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.TS_ANY_NEVER_UNNOWN)"
>
Index signatures -
{{ countItems(IMAGE_TYPES.TS_ANY_NEVER_UNNOWN) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.TYPE_QUERY)"
>
Type query -
{{ countItems(IMAGE_TYPES.TYPE_QUERY) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.TS_KEY_OF)"
>
Keyof typeof -
{{ countItems(IMAGE_TYPES.TS_KEY_OF) }}
</div>
<div
class="topic-menu-item"
(click)="changeTopic(IMAGE_TYPES.TS_MAPPED_TYPES)"
>
Mapped types -
{{ countItems(IMAGE_TYPES.TS_MAPPED_TYPES) }}
</div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">TESTS</div>
        <div class="topic-menu-tests">
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TESTS_BEST_PRACTICE)"
          >
            Best practice -
            {{ countItems(IMAGE_TYPES.TESTS_BEST_PRACTICE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TESTS_TEST_BED)"
          >
            TEST BAD, Fixture -
            {{ countItems(IMAGE_TYPES.TESTS_TEST_BED) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TESTS_MOCK_SERVICE)"
          >
            MOCK FOR SERVICE -
            {{ countItems(IMAGE_TYPES.TESTS_MOCK_SERVICE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_TEST_DEBUG_ELEMENT)"
          >
            DebugElement -
            {{ countItems(IMAGE_TYPES.ANGULAR_TEST_DEBUG_ELEMENT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_TEST_SPEC_FILE)"
          >
            SPEC file structure -
            {{ countItems(IMAGE_TYPES.ANGULAR_TEST_SPEC_FILE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_TEST_BEFORE_EACH_ASYNC)"
          >
            beforeEach async -
            {{ countItems(IMAGE_TYPES.ANGULAR_TEST_BEFORE_EACH_ASYNC) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.TESTS_DIFFERENCE)"
          >
            Unit vs Integration vs E2E -
            {{ countItems(IMAGE_TYPES.TESTS_DIFFERENCE) }}
          </div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">HTTP/Prog</div>
        <div class="topic-menu-code">
            <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.XXS)">
                XXS -
                {{ countItems(IMAGE_TYPES.XXS) }}
              </div>
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.CORS)">
            CORS -
            {{ countItems(IMAGE_TYPES.CORS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.SECURITY)"
          >
            Security CSP -
            {{ countItems(IMAGE_TYPES.SECURITY) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_JSON_P)"
          >
            JSON_P -
            {{ countItems(IMAGE_TYPES.JS_JSON_P) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.JSON)"
        >
          JSON -
          {{ countItems(IMAGE_TYPES.JSON) }}
        </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_OWASP)"
          >
            OWASP -
            {{ countItems(IMAGE_TYPES.HTTP_OWASP) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_IDEMPOTENCE)"
          >
            Idempotence -
            {{ countItems(IMAGE_TYPES.HTTP_IDEMPOTENCE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_WEBSOCKET)"
          >
            WEB Sockets -
            {{ countItems(IMAGE_TYPES.HTTP_WEBSOCKET) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_POLLING_VS_WEBSOCKETS)"
          >
            WEB Sockets vs Polling -
            {{ countItems(IMAGE_TYPES.HTTP_POLLING_VS_WEBSOCKETS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_EVENT_SOURCE_API)"
          >
            API EventSource -
            {{ countItems(IMAGE_TYPES.ANGULAR_EVENT_SOURCE_API) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_WAY_OF_AUTH)"
          >
            Cпособы аутентификаций -
            {{ countItems(IMAGE_TYPES.HTTP_WAY_OF_AUTH) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_WAY_JWT)"
          >
            JWT -
            {{ countItems(IMAGE_TYPES.HTTP_WAY_JWT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_WAY_OAUTH)"
          >
            OAUTH -
            {{ countItems(IMAGE_TYPES.HTTP_WAY_OAUTH) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.HTTP_SERIFICATE_AUTHORITY)"
          >
            Sertificate authority -
            {{ countItems(IMAGE_TYPES.HTTP_SERIFICATE_AUTHORITY) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CLOUD_COMPUTING)"
          >
            Cloud computing -
            {{ countItems(IMAGE_TYPES.CLOUD_COMPUTING) }}
          </div>
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.SAML)">
            SAML -
            {{ countItems(IMAGE_TYPES.SAML) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.SAML_VS_OAUTH)"
          >
            SAML vs OAUTH -
            {{ countItems(IMAGE_TYPES.SAML_VS_OAUTH) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.OPEN_ID)"
          >
            OPEN ID -
            {{ countItems(IMAGE_TYPES.OPEN_ID) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.OPEN_ID_VS_OAUTH2)"
          >
            OPEN ID vs OAUTH -
            {{ countItems(IMAGE_TYPES.OPEN_ID_VS_OAUTH2) }}
          </div>
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.OWASP)">
            OWASP -
            {{ countItems(IMAGE_TYPES.OWASP) }}
          </div>
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.CDN)">
            CDN -
            {{ countItems(IMAGE_TYPES.CDN) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.SERVER_SIDE_RENDERING)"
          >
            Server SIDE rendering -
            {{ countItems(IMAGE_TYPES.SERVER_SIDE_RENDERING) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.SERVER_SIDE_EVENTS)"
          >
            Server SIDE events (SSE) -
            {{ countItems(IMAGE_TYPES.SERVER_SIDE_EVENTS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.SERVICE_WORKERS)"
          >
            Service workers -
            {{ countItems(IMAGE_TYPES.SERVICE_WORKERS) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.MAKE_WEB_INSTALABLE)"
          >
            How make app instalable -
            {{ countItems(IMAGE_TYPES.MAKE_WEB_INSTALABLE) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.OPTIMISTIC_CASHING)"
          >
            Optimistic caching-
            {{ countItems(IMAGE_TYPES.OPTIMISTIC_CASHING) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.JS_OBJECT_IN_WEB_WORKER)"
        >
          Object in WEB worker -
          {{ countItems(IMAGE_TYPES.JS_OBJECT_IN_WEB_WORKER) }}
        </div>
        <div
        class="topic-menu-item"
        (click)="changeTopic(IMAGE_TYPES.REST)"
      >
        REST -
        {{ countItems(IMAGE_TYPES.REST) }}
      </div>
      <div
      class="topic-menu-item"
      (click)="changeTopic(IMAGE_TYPES.SSL_TLS)"
    >
      SSL/TLS -
      {{ countItems(IMAGE_TYPES.SSL_TLS) }}
    </div>
    <div
    class="topic-menu-item"
    (click)="changeTopic(IMAGE_TYPES.PROTOCOL_BUFFERS_RPC)"
  >
   rGPC/Protocol buffers -
    {{ countItems(IMAGE_TYPES.PROTOCOL_BUFFERS_RPC) }}
  </div>
  <div
  class="topic-menu-item"
  (click)="changeTopic(IMAGE_TYPES.API_STRUCTURES)"
>
 API -
  {{ countItems(IMAGE_TYPES.API_STRUCTURES) }}
</div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">NGRX</div>
        <div class="topic-menu-ngrx">
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.REDUX)">
            REDUX
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_NGRX)"
          >
            NGRX
          </div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">CI/CD/Agile</div>
        <div class="topic-menu-cicd">
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.CD_CD)">
            Этапы разработки, CICD - {{ countItems(IMAGE_TYPES.CD_CD) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.MANTAIN_CI_CD)"
          >
            How to mantain CI/CD -
            {{ countItems(IMAGE_TYPES.MANTAIN_CI_CD) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.AGILE)"
        >
         AGILE -
          {{ countItems(IMAGE_TYPES.AGILE) }}
        </div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">OOP/Pathern</div>
        <div class="topic-menu-oop">
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_OOP_GENERAL)"
          >
            General
          </div>
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.OOP)">
            Композиция,.., проблемы
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.OOP_VS_FP)"
          >
            Aнтипатерн, FP vs OOP
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_SINGLETON)"
          >
            JS Singleton
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.OOP_SINGLETON)"
          >
            OOP Singleton
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.OOP_PRINCIPLES)"
          >
            OOP Principles
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_INHERITANCE_BAD_PRACTICE)"
          >
            Inheritance BAD practice
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_COUPLING_COHERSION)"
          >
            Coupling and Cohesion
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_IOC)"
          >
            Inversion of control
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_COMPOSITION_AGGREGATION)"
          >
            Comp/Agreg vs Inhaerit
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_WHEN_INHERITANCE_IS_OK)"
          >
            When Inheritance is OK
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_GOD_CLASS)"
          >
            God Class
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.FUNCTIONAL_PROGRAMMING)"
          >
            FP
          </div>
          <div
            class="topic-menu-item"
            (click)="
              changeTopic(
                IMAGE_TYPES.CLASS_INHERITANCE_VS_PROTOTYPE_INHERITANCE
              )
            "
          >
            Class vs Prototype Iherit
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.ANGULAR_2_WAY_BINDING)"
          >
            2 way data binding
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.MICROSERVISES)"
          >
            Microservices vs Monolith
          </div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">CODE</div>
        <div class="topic-menu-http">
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.CODE)">
            Custom promise
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_REDUCE)"
          >
            Reduce example
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_REVERSE_STRING)"
          >
            Reverse string
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_CLOCK_CLASS)"
          >
            CLASS CLOCK
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_INTERVIEW_QUESTIONS)"
          >
            39 Interview questions
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_PALINDROME)"
          >
            PALINDROME
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_IS_INTEGER)"
          >
            IS INTEGER
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_FIND_DUPLICATES_IN_ARRAY)"
          >
            Find all duplicates in an array
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_CLONE_DEEP)"
          >
            CloneDeep function
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_CURRY)"
          >
            CURRY
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_GET_RANDOM_INTL)"
          >
            Random int between 2 val
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_CHUNK_FUNCTION)"
          >
            Chunk array
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_FLATTEN_DEEP)"
          >
            FlattenDeep array
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_SEARCH_BINARY_TREE)"
          >
            Binary search tree
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_MEMOIZE)"
          >
            Memoize function
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_SERIALIZE_BINARY_TREE)"
          >
            Serialize and deser bin tree
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_STATE_IN_CLASS)"
          >
            State in class
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_ADD_TO_MAX_INT)"
          >
            ADD 1 to MAX INT
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.CODE_1PLUS2)"
          >
            0.1+0.2 != 0.3
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.TYPING_TASK)"
        >
          Typing tasks [] !== []
        </div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">NODE</div>
        <div class="topic-menu-node">
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.NODE_COMPILATION)"
          >
            Compilation
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.NODE_EVENT_LOOP)"
          >
            Event loop
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_MODULES)"
          >
            Modules
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.NODE_SETIMMEDIATE)"
          >
            SetImmediate
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.MIDDLE_WARE)"
        >
          Middle_ware
        </div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">D/STRUCT</div>
        <div class="topic-menu-data">
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_DATA_STRUCTURES)"
          >
            General
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_MAP_SET)"
          >
            MAP-SET
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_STACK_VS_QUIUE)"
          >
            Stack vs Queue
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_ARRAY_VS_LIST)"
          >
            Array VS List
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_OBJ_VS_MAP)"
          >
            Obj VS Map
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_BREADTH_FIRST_SEARCH)"
          >
            Breadth/Depth-First Search
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.JS_BIG_O)"
          >
            BIG(O)
          </div>
        </div>
      </div>
      <div class="topic-item">
        <div class="topic-name">GIT/DOC/LINUX</div>
        <div class="topic-menu-git">
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.GIT)">
            Git General - {{ countItems(IMAGE_TYPES.GIT) }}
          </div>
          <div class="topic-menu-item" (click)="changeTopic(IMAGE_TYPES.GIT_BISSECT)">
            Git Bissect - {{ countItems(IMAGE_TYPES.GIT_BISSECT) }}
          </div>
          <div
            class="topic-menu-item"
            (click)="changeTopic(IMAGE_TYPES.DOCKER)"
          >
            Docker General - {{ countItems(IMAGE_TYPES.DOCKER) }}
          </div>
          <div
          class="topic-menu-item"
          (click)="changeTopic(IMAGE_TYPES.LINUX)"
        >
          Linux general - {{ countItems(IMAGE_TYPES.LINUX) }}
        </div>
        </div>
      </div>
      <!--      <div class="topic-item">-->
      <!--        <div class="topic-name">XX</div>-->
      <!--        <div class="topic-menu-docker">-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
  <div class="image-wrap">
    <img
      [src]="imageUrl"
      [ngStyle]="{ transform: 'scale(' + scale + ')' }"
      alt=""
    />
  </div>
</div>
